<nav class="sidebar">
    <h2>Port de Plaisance
        Russell </h2>
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bi bi-speedometer2"></i> Tableau de bord
            </a>
        </li>
        <li>
            <a href="/catways-page">
                <i class="bi bi-geo-alt"></i> Liste des Catways
            </a>
        </li>
        <li>
            <a href="/reservations-page">
                <i class="bi bi-calendar-check"></i> Réservations
            </a>
        </li>
        <li>
            <a href="/users-page">
                <i class="bi bi-people"></i> Utilisateurs
            </a>
        </li>
        <li>
            <a href="/api-docs">
                <i class="bi bi-book"></i> Documentation
            </a>
        </li>
        <li>
            <a href="/" class="logout">
                <i class="bi bi-box-arrow-right"></i> Déconnexion
            </a>
        </li>
    </ul>
</nav>